[2021-11-03 13:32] ArthurSens opened #15 "Broken update from upstream"
Our CI caught that the last update of dependencies broke monitoring-satellite.

E2E tests are saying the prometheus pod doesn't come up: https://github.com/gitpod-io/observability/runs/4073115679?check_suite_focus=true

If we don't discover and fix the problem, we won't be able to update dependencies (including gitpod's mixin)

[2021-11-05 18:17] #15 closed

[2021-11-09 08:14] wulfthimm opened #17 "There still some company related information in this public repo"
We need to remove all company related information like _"If you want to verify ArgoCD has applied your changes, you can go to argo-cd.gitpod-io-dev.com and use the label filter application=monitoring-satelite to see the status of all the satelites, or application=monitoring-central to see the monitoring centrals."_ in the README.md.

[2021-11-11 11:46] wulfthimm opened #20 "Improve tools to investigate certificate expiration"
The [current dashboard](https://grafana.gitpod.io/d/TvuRo2iMk/cert-manager?orgId=1&refresh=1m) for diagnosing certificate issues is degraded as not all certificates are shown because certificates with the same name and namespace are merged and shown as one certificate. To be able to find the certifcate which caused the alert we need specific information where the certificate is also in the dashboa

[2021-11-11 11:49] ArthurSens commented on #20
The dashboard is developed upstream. I'd suggest opening a Pull Request to https://gitlab.com/uneeq-oss/cert-manager-mixin with the changes you'd like to see 🙂

[2021-11-11 12:08] wulfthimm commented on #20
That does not make sense in this context as the dashboard is good for a single cluster but we merge all data.

[2021-11-11 13:26] ArthurSens commented on #20
Exactly, this can be changed! We just need to propose a Pull Request. The idea was already accepted upstream, we just need to implement it. See also: https://gitlab.com/uneeq-oss/cert-manager-mixin/-/issues/5

[2021-11-15 06:38] wulfthimm commented on #20
Thanks! What might be the best variable to do that, the certmanager exports an instance value which contains the IP address. Is there a convention for exporting the clustername? Would it be best practice to join it with another metric?

[2021-11-16 17:58] ArthurSens opened #22 "components/otel-collector: Make it production-ready!"
Currently, we only run it inside our preview environments. To make it ready for production usage, there is a couple of things we want to add:

- [ ] #26

- [ ] #27
- [ ] #28

[2021-11-17 12:00] #17 closed

[2021-11-19 10:43] wulfthimm opened #24 "The support for werft should either be optional or excluded"
**Update 26-11-2021:** Blocked by #34

The observability stack assumes that every installation has werft deployed and applying will lead to resources failing because of a missing namespace.

[2021-11-22 09:49] meysholdt commented on #24
Can you name the resources that are failing?

[2021-11-23 07:57] wulfthimm commented on #24
[Here is an example](https://argo-cd.gitpod-io-dev.com/applications/prod-ws-eu18-monitoring-satellite?conditions=false&resource=&operation=false) of a failing deployment where werft is missing. It is a workspace-nodepool.

[2021-11-23 12:41] mads-hartmann opened #26 "Configure the otel-collector to send traces to both Jaeger and Honeycomb"
To provide backward compatibility with what we currently have, we want our otel-collector to keep sending traces to Jaeger while also sending them to Honeycomb. We need to modify the otel-collector accordingly.

[2021-11-23 12:41] mads-hartmann opened #27 "Only deploy open-telemetry collector when `tracing_enabled` is set to true"
Monitoring-satellite has a concept of explicitly opt-in for extra features. Let's put the collector behind the `tracing_enabled` external variable.

[2021-11-23 12:41] mads-hartmann opened #28 "We haven't paid any attention to the sampling rate when sending traces to Honeycomb. Let's take a closer look to make sure we don't get charged more than expected"

[2021-11-23 12:44] mads-hartmann commented on #22
Closing this in favour of having smaller issues tracked in the Honeycomb epic in our [new board](https://github.com/orgs/gitpod-io/projects/23/views/1)

[2021-11-23 12:44] #22 closed

[2021-11-23 14:46] mads-hartmann commented on #26
@ArthurSens Changed the scope of this so it is only for staging initially.

[2021-11-23 18:30] ArthurSens commented on #26
This repository in particular has no knowledge of any existing environment. So the context here doesn't really care if it's staging/prod/preview who is going to send traces to Honeycomb or Jaeger.

What we need to do is add the possibility to configure this, our ArgoCD apps that consume this repository are the ones deciding if traces go to Honeycomb or Jaeger 🙂

[2021-11-23 19:18] mads-hartmann commented on #26
@ArthurSens That makes sense, I have changed the title and will create a new issue for enabling tracing in staging and configuring gitpod to send traces to the otel-collector.

[2021-11-23 19:52] #27 closed

[2021-11-24 11:15] laushinka opened #31 "Add GCP support for monitoring central and monitoring-satellite"
## Is your feature request related to a problem? Please describe
As part of the Meta team's [first steps into automatic deployment](https://github.com/gitpod-io/gitpod/issues/6785), we need to improve our monitoring and observability.
Unfortunately some metrics are currently only available in GCP, such as [database CPU utilization](https://console.cloud.google.com/monitoring/dashboards/resourceLis

[2021-11-24 11:50] #26 closed

[2021-11-25 09:30] mads-hartmann commented on #31
I'm scheduling this ticket for now. @ArthurSens and @meysholdt I don't have a sense of how much work this is and what the solution space looks like. Would one of you be able to spell that out for me so we can more easily prioritise this.

[2021-11-25 09:50] mads-hartmann commented on #24
@wulfthimm or @ArthurSens could you outline what it would take to solve this issue in rough steps. That will help me figure out whether this is something we want to prioritise now.

[2021-11-25 12:02] meysholdt commented on #31
I think the solution is to add GCP Monitoring (aka Stackdriver) as a Datasource in Grafana. We had that in the past and therefore there are probably code snippets in our git history on how to do that.

With that in place, we can use [MQL](https://cloud.google.com/monitoring/mql) to add queries / graphs to grafana.

There is one caveat though: In preview environments, the data will most likely repr

[2021-11-25 12:57] ArthurSens commented on #24
The problem makes perfect sense!

To be able to monitor werft, monitoring-satellite depends on a couple of resources that are deployed in the same namespace where werft lives (ServiceMonitors, NetworkPolicies, etc). It works fine with any cluster where werft's namespace exists, but it is only one cluster between several that we run monitoring-satellite.

It didn't cross my mind that Argo would fai

[2021-11-26 09:03] mads-hartmann opened #34 "Find a way to introduce new extVars in a backwards compatible way"
jsonnet [deliberately doesn't support default values for external variables](https://github.com/google/go-jsonnet/issues/247#issuecomment-425662159) which means that whenever we introduce a new `extVar` we will break all existing invocations. So at the moment you have to introduce the `extVar` everywhere (jsonnet will happily ignore unused `extVar`s) before you start using it in your templates.

R

[2021-11-26 09:03] mads-hartmann commented on #34
Adding `Pending clarification` as we will discuss this in the Platform team

[2021-11-26 09:05] mads-hartmann commented on #24
@ArthurSens The situation with extVars is indeed quite problematic, especially when Workspace starts consuming monitoring-satellite using jsonnet 😕

I have created an issue https://github.com/gitpod-io/observability/issues/34 and added it to our discussion for the next Platform meeting.

I'm marking this as blocked for now as I think we should decide on the above issue first.

[2021-11-26 12:44] ArthurSens commented on #34
I've spent some minutes looking into alternatives and found out about `top level arguments`.

It would require some good refactoring and experimentation, but I think the final result will become pretty nice.

From what I understood, we would change monitoring-satellite.libsonnet and monitoring-central.libsonnet to become a function, instead of just a JSON with overrides everywhere.

This comment h

[2021-11-26 12:45] ArthurSens commented on #34
The refactoring will be quite big though, we'll need to rewrite almost the whole repository

[2021-11-30 12:59] mads-hartmann opened #39 "Ensure that all installations of observability reference a fixed git SHA"
Due to our usage of extVars we currently often introduce backwards incompatible changes. This is a problem as we have many places where our observability installations refer to the `main` branch.

To make sure we don't break installations unintentionally we should fix the git SHA for all installations for now so that updates becomes intentional.

Meanwhile we'll work on finding to make it easier t

[2021-11-30 13:06] mads-hartmann commented on #34
Based on our discussions:

1. I have created a new issue to fix the git SHA everywhere so that we can introduce breaking changes and then go through all installations and update them accordingly https://github.com/gitpod-io/observability/issues/39
2. I have updated the description to include a 3rd option and marked it a favourable. The issue will continue to be unscheduled for now.

[2021-11-30 13:18] ArthurSens commented on #39
As it might sound super simple, there is one thing that makes this process a little bit more complex than expected 😬 (Worry not! A solution was already thought and implemented upstream)

Gitpod dashboards and alerts are developed in another repository and are imported to the vendor folder in this repository [through automation](https://github.com/gitpod-io/observability/blob/main/.github/workflows

[2021-11-30 13:23] mads-hartmann commented on #39
@ArthurSens Ah damn, moving back to the inbox and have marked it as Pending clarification until we have decided on a specific way forward.

[2021-11-30 13:23] ArthurSens commented on #34
It is still not clear to me where this json file will live 🤔.

Every ArgoCD app is configured with different variables, which means they will need different configuration files. Where do we put them? How does argo loads them?

[2021-11-30 14:17] mads-hartmann opened #41 "Compare traces in Honeycomb and Jaeger from staging"

[2021-12-01 12:35] mads-hartmann opened #42 "Create custom field on Incident.io incident that we can use for security related incidents"
For providing evidence for SOC2 we need a way to find incidents that are related to security. We want to use a custom fields for this.

[2021-12-01 12:50] mads-hartmann commented on #42
I have added a "Security Incident" custom field in incident.io and marked is as required before you can close an incident.

This is what is looks like when you try to close an incident (notice it is marked as required, I tried to submit with providing a value)

![Screenshot 2021-12-01 at 13 42 42](https://user-images.githubusercontent.com/83561/144237046-bd026ac1-45fc-4e78-b406-c1c41eff824f.png)

[2021-12-01 12:51] #42 closed

[2021-12-03 12:00] mads-hartmann commented on #34
@meysholdt You suggested the config option, would you be able extend a bit on your suggestion here? ☺️

[2021-12-03 18:39] ArthurSens commented on #34
I'm investigating this a little further and I think my suggestion with top-level-arguments does work but requires quite a big effort sorting things out... I'd say ~1week of work 😬.

Using a JSON config file would be easier if we can figure out how that  would work with ArgoCD

[2021-12-06 08:23] princerachit opened #44 "Grafana dashboard unable to correctly determine the node count"
### Bug description

The grafana dashboard should show correct count of node per node pool created by k3s cluster. The K3s cluster is not being managed by google.

![image](https://user-images.githubusercontent.com/32481722/144812007-95e25486-11bf-43ca-b714-2fd4600f453a.png)

### Steps to reproduce

Navigate to the dashboard and check under Cluster size section

### Expected behavior

The right nu

[2021-12-06 08:38] meysholdt commented on #34
hi @ArthurSens, I can help with this.

[2021-12-06 08:47] meysholdt commented on #34
Can we simply embed it into the ArgoCD Manifest?

e.g.

[code]

[2021-12-06 08:51] meysholdt commented on #39
let's keep the time during which there is a version-pinning short because during that time product teams can not ship changes to monitoring.

[2021-12-07 20:15] ArthurSens commented on #34
I'm making some tests here and I confirm that this strategy works! Opening a draft PR soon!

[2021-12-14 13:02] #34 closed

[2021-12-15 12:05] #24 closed

[2021-12-21 17:47] kylos101 opened #52 "with-observability not deploying in core-dev due to pod security policy"
### Bug description

The `prometheus-k8s` stateful set is being prevented from scheduling pods due to Pod Security Policy in core-dev. As a result, I am unable to deploy `with-helm` and `with-observability` to test observability changes.

`kubectl describe statefulset prometheus-k8s` reveals:
[code]

This command waits up to an hour, and then the werft job times out:
`kubectl rollout status statef

[2021-12-21 17:53] kylos101 commented on #52
As a workaround, I am going to try doing two builds:

[code]

[2021-12-21 23:04] kylos101 opened #53 "The ability to explore HTTP error codes (similar to gRPC errors) in Honeycomb"
Hi, I'm just looking to start a conversation, this may not be the correct repo.

It would be ideal if we could explore HTTP error codes (similar to how we can do with gPRC) in Honeycomb. [Here is an example.](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/xpNnGTE1W3M)

Also here, in case it gets archived (the purple spike is image-builder-mk3 throwing):
![image](https://user-imag

[2021-12-21 23:11] kylos101 opened #54 "Review the limits on the Grafana pod"
### Bug description

May we ask @gitpod-io/platform to review the limits on the Grafana pod?

We had an issue today, where the Gitpod Overview dashboard was missing data for about 20 minutes. Upon further examination we found the Grafana pod was crash looping and needed more resources. This was solved by increasing its limits, so that the pod could start and serve the dashboard again (so that we c

[2021-12-22 16:23] kylos101 commented on #53
This would be ideal for list, create, and start workspace actions. There's likely other actions too, this is just an example.

[2021-12-22 19:28] kylos101 opened #55 "Job monitoring/jaeger-spark-dependencies fails often, triggers a warning, and lacks a runbook"
**Update 04.01.22 by Mads**: See this [comment](https://github.com/gitpod-io/observability/issues/55#issuecomment-1004624144) for a suggestion on how to fix this.

### Bug description

We get this alert in the warning channel many times a day for both meta clusters, and monitoring central.

[code]

The job appears to be failing because of this error related to missing database grants, but I'm not

[2021-12-22 19:38] kylos101 commented on #52
As a workaround, I added the `projected` volume via `kubectl edit podsecuritypolicy kube-prometheus-restricted`, which is a cluster scoped pod security policy in core-dev .

I'm not quite sure how jsonnet is being used to generate and manage k8s manifests, but the core issue is - this file `monitoring-satellite/manifests/podsecuritypolicy-restricted.yaml` doesn't appear to get applied on `kubectl

[2021-12-22 19:52] kylos101 commented on #52
[With this workaround](https://github.com/gitpod-io/observability/issues/52#issuecomment-999818695), I am able to get Grafana and Prometheus running, so I can inspect my dashboard changes.

However, it looks like [Grafana](https://grafana-kyleb-ws-dashboard.preview.gitpod-dev.com/dashboards) and [Prometheus](https://prometheus-kyleb-ws-dashboard.preview.gitpod-dev.com/graph) are not available give

[2021-12-22 20:43] kylos101 opened #56 "Trouble accessing preview environment URLs for Grafana and Prometheus"
### Bug description

This [werft build](https://werft.gitpod-dev.com/job/gitpod-build-kyleb-ws-dashboard.13/results) shares a couple URLs for [Grafana](https://grafana-kyleb-ws-dashboard.preview.gitpod-dev.com/dashboards) and [Prometheus](https://prometheus-kyleb-ws-dashboard.preview.gitpod-dev.com/graph). I get this for both:
[code]

As a workaround, I am using `kubectl port-forward`:
`kubectl po

[2021-12-22 22:21] kylos101 commented on #56
It looks like the ingress are unable to find the related secrets.

[2021-12-23 17:39] kylos101 commented on #56
As a heads up, when this issue happens, it delays the deploy up to 15m, which isn't ideal from a "tight dev loop" standpoint.

Instead, it might be better to fail sooner (15m seems like a long time) and output a message indicating a workaround like `kubectl port-forward svc/grafana 3000:3000`.

[2022-01-01 19:06] kylos101 opened #59 "Improve approval and merge for dep-update workflow"
Hey there,

While working [this PR](https://github.com/gitpod-io/observability/pull/58), I bumped into this observation and wanted to share some suggestions.

Observation:
When the [dep-update workflow](https://github.com/gitpod-io/observability/blob/main/.github/workflows/dep-update.yaml#L42) is run, it assigns @ArthurSens as an approver to the PR.

May I suggest:
1. Add @gitpod-io/platform to th

[2022-01-01 19:07] kylos101 commented on #59
/team platform

[2022-01-02 10:58] meysholdt opened #60 "Fix and Re-Apply automated Updated"
I've just [reverted](https://github.com/gitpod-io/observability/commit/823581fcb47c694a2206733226a1ec7af66294c6) Update https://github.com/gitpod-io/observability/commit/56ea3a7cad6058b8aa4a2b4bcb1d320d32e967a1 because it broke Prometheus on the meta clusters. The Prometheus pods were no longer starting via an error message

Du to the error, we do not have monitoring data for the meta clusters fro

[2022-01-03 10:57] mads-hartmann commented on #59
@kylos101 Thanks! I'll open a PR to assign reviews to the platform team as you suggest. I won't prioritise auto-merging yet, but postpone that work until it becomes a burden for the platform team to review the PRs ☺️

[2022-01-03 11:11] mads-hartmann commented on #54
@meysholdt I'm scheduling this ☺️

[2022-01-03 11:22] mads-hartmann commented on #53
Hey @kylos101 👋  adding attributes with HTTP status codes is definitely a very common use-case and they are extremely useful ☺️ I've extended our [Telemetry documentation](https://www.notion.so/gitpod/Naming-conventions-af9084c4743349089cf2450a3c860733#728cfadaf6524f62a0a77bebbc1f232f) to link the the [OpenTelemetry Semantic conventions for HTTP spans](https://github.com/open-telemetry/opentelemet

[2022-01-03 11:22] #53 closed

[2022-01-03 11:33] mads-hartmann commented on #55
@kylos101 Thanks for creating the bug! As we want to get rid of Jaeger I'd don't want to spend as little time as possible on this. @ArthurSens do you know if it is possible to configure the KubeJobFailed alert to ignore specific jobs? If so I'd like to have it just ignore the jaeger related jobs for now.

[2022-01-03 11:38] ArthurSens commented on #55
Well, the job description literally tells us what to do to fix it. I'm not sure why we haven't deleted that job yet.

Last time I checked they were almost an year old

[2022-01-03 11:44] mads-hartmann commented on #44
@princerachit is this bug still an issue? I see eu25 and us25 showing up in the [Cross Teams / Gitpod / Overview](https://grafana.gitpod.io/d/gitpod-overview/gitpod-overview?orgId=1&refresh=30s) dashboard but I don't if that is the current k3s clusters ☺️

[2022-01-03 11:45] mads-hartmann commented on #39
Closing this issue as we fixed this as part of making the jsonnet programs backwards compatible (we fixed the git sha temporarily before while rolling out the new backwards-compatible version)

[2022-01-03 11:45] #39 closed

[2022-01-03 11:53] mads-hartmann commented on #52
Scheduling this /cc @meysholdt

[2022-01-03 11:53] mads-hartmann commented on #56
Scheduling this /cc @meysholdt

[2022-01-03 11:57] mads-hartmann commented on #31
@ArthurSens Is this still blocked? :)

[2022-01-03 12:12] #59 closed

[2022-01-03 12:41] mads-hartmann commented on #60
The error messages sounds related to https://github.com/gitpod-io/observability/issues/52

[2022-01-03 12:41] meysholdt commented on #60
yes, seems to be the same.

[2022-01-03 12:46] mads-hartmann commented on #55
The current failing job in prod-meta-us01 is only 12 hours old, so I'm assuming that if we delete the job the next one will just fail and retrigger the alert ☺️

I'd rather not spend time fixing the underlying issues (fixing the DB permissions) so I'd prefer to just have `KubeJobFailed`ignore the job if possible.

[2022-01-03 16:52] princerachit commented on #44
We have used a workaround of adding gke specific labels to k3s cluster. I don't mind closing this issue.

[2022-01-03 16:52] #44 closed

[2022-01-03 17:11] ArthurSens commented on #52
The fix was proposed upstream, once it's merged we only need to update our dependencies again :)

https://github.com/prometheus-operator/kube-prometheus/pull/1572

[2022-01-04 08:21] mads-hartmann commented on #52
@ArthurSens Oh nice, thanks for fixing it upstream! I'll put this to In progress and assign it to you so you can close it once the PR is merged and we've updated our dependencies ☺️

[2022-01-04 08:49] mads-hartmann commented on #55
I'll schedule this, we should be able to ignore it using modifying the [inhibit_rule](https://prometheus.io/docs/alerting/latest/configuration/#inhibit_rule)s we in our alertmanager config [here](https://github.com/gitpod-io/observability/blob/main/addons/alerting.libsonnet#L70).

Here are all the labels that we can use to target this kind of alert (screenshot of the Alertmanager for the alert)

<

[2022-01-04 12:08] kylos101 commented on #52
Yeah, great solution! 👍👍

When we test, we should be sure to remove the change I made in core-dev.
This way it uses this upstream change too.

On Tue, Jan 4, 2022, 3:21 AM Mads Hartmann ***@***.***> wrote:

[2022-01-04 13:45] #52 closed

[2022-01-04 13:45] #60 closed

[2022-01-04 19:43] ArthurSens commented on #52
What is interesting here is how we were able to spin up the pods in our CI. We probably need to make sure our CI cluster respects pod security policies

[2022-01-05 01:49] kylos101 commented on #52
@ArthurSens By CI, are you referring werft deploying to `core-dev`, or werft deploying to new k3s stuffs?

For `core-dev`, as a workaround, [I did a workaround by editing the PodSecurityPolicy](https://github.com/gitpod-io/observability/issues/52#issuecomment-999818695) to permit projected volumes. In hindsight, that was a bad decision, as production likely didn't support projected volumes either

[2022-01-05 01:54] ArthurSens commented on #52
I mean this repository's CI. This repository doesn't really "care" about core-dev as it is just one of its consumers.

We have a github action that deploys monitoring-satellite into a KinD cluster and make a couple of HTTP requests to prometheus API to make sure it is running smoothly. (See our [CI definition](https://github.com/gitpod-io/observability/blob/main/.github/workflows/ci.yaml) and [e2e

[2022-01-14 11:42] #54 closed

[2022-01-20 14:28] kylos101 opened #67 "Automatically approve and merge dependency update PRs"
(Description updated by Mads 24-01-2022 to match the implementation we decided on)

We want our [dependency update PRs](https://github.com/gitpod-io/observability/blob/main/.github/workflows/dep-update.yaml) to be reviewed and merged automatically.

- Change the GitHub Workflow to also approve the PR automatically. We should follow the same pattern as in the ops repository, so the PR should be cre

[2022-01-21 14:05] mads-hartmann commented on #67
@ArthurSens How do you feel about us just adding observability to Prow as well and have the PRs be automatically approved by our bots and merged once CI checks pass, same way we do with the automated deployments in gitpod-io/ops?

[2022-01-21 14:05] ArthurSens commented on #67
All good from my side!

[2022-01-21 19:16] kylos101 commented on #55
Thank you, @mads-hartmann ! Can we also include [this alert](https://gitpod.slack.com/archives/C01TNS9FCQ3/p1642791316060600)? It's for `jaeger-collector` and has been noisy lately, too.

I ask because we're planning to set Slack Notifications for the warning channel, to explore using it to be proactive, and it'd be nice to remove the Jaeger noise.

[2022-01-24 10:31] mads-hartmann opened #69 "Remove Jaeger support from observability"
Remove support for sending traces to Jaeger in gitpod-io/observability

1. Remove all uses of jaegerEndpoint from the jsonnet files
2. Remove jaeger endpoint mentions in the README and any other places.

[2022-01-24 10:46] mads-hartmann commented on #55
@kylos101 We're scheduling work this week to get rid of Jaeger completely in all our environments - these alerts should go away once https://github.com/gitpod-io/ops/issues/829 is done. I'll close this issue and leave a link to it in the other issue to verify that the alerts no longer happen.

[2022-01-24 10:46] #55 closed

[2022-01-24 10:49] aledbf opened #70 "Add support for new affinity labels"
The new installer uses different labels for node-pools https://github.com/gitpod-io/gitpod/tree/main/installer#affinity-labels

[2022-01-24 12:13] mads-hartmann commented on #67
Updated issue description and title to match our preferred solution.

[2022-01-25 08:43] ArthurSens commented on #70
Would it be possible to change the required labels used for Gitpod? The labels shown in the docs cannot be mapped into Prometheus in a good way.

Instead of:

- gitpod.io/workload_meta exists
- gitpod.io/workload_ide exists
- gitpod.io/workload_workspace_services exists
- gitpod.io/workload_workspace_regular exists
- gitpod.io/workload_workspace_headless exists

Could we have something like that?

[2022-01-25 09:25] aledbf commented on #70
ping @csweichel @MrSimonEmms

[2022-01-25 09:41] MrSimonEmms commented on #70
In principle, yes - the node labels are arbitrary from the Installer's point of view.

In practice, I'm not sure when we'd want to do this. I'm in the process of [releasing 2022.01](https://github.com/gitpod-io/gitpod/issues/7658) of the Installer which we want to get out by 2022-01-28 . In an ideal world, I would prefer to get this change for the first release proper to avoid having a breaking ch

[2022-01-25 18:40] sagor999 opened #75 "Add grafana dashboard for CoreDNS monitoring"
Grafana dashboard that would monitor our k8s's coredns deployments.
Something like this one: https://grafana.com/grafana/dashboards/12382
We can then setup alerts for when coredns is under heavy load or experiencing failures.

[2022-01-26 09:52] #67 closed

[2022-01-26 13:03] csweichel commented on #70
![image](https://user-images.githubusercontent.com/3210701/151167789-56fca7b3-42af-4bf2-8fdc-a3ebd7ead69c.png)

[2022-01-26 15:13] mads-hartmann commented on #56
Note to self, I followed the steps above to reproduce (with the modification of using `with-helm` in step 3 as well) and can confirm the URLs don't work. I'm heading out the door but will look more tomorrow. ([job 1](https://werft.gitpod-dev.com/job/gitpod-build-mads-testing-o11y.1), [job 2](https://werft.gitpod-dev.com/job/gitpod-build-mads-testing-o11y.2), [job 3](https://werft.gitpod-dev.com/jo

[2022-01-27 10:04] mads-hartmann commented on #56
@ArthurSens Assigned this to you as per our discussion ☺️

[2022-01-27 21:40] #69 closed

[2022-01-28 03:49] kylos101 commented on #75
Thank you, @sagor999, I appreciate you creating this issue !

May I ask a favor? Can you close this issue, and add its contents to [#7829](https://github.com/gitpod-io/gitpod/issues/7826)? We generally create alerts and dashboards in the `gitpod` repo.

[It'll make sense once you read this doc on how we do observability at Gitpod.](https://github.com/gitpod-io/gitpod/tree/main/operations/observabi

[2022-01-28 04:03] #75 closed

[2022-01-28 09:54] #56 closed

[2022-02-01 13:01] ArthurSens opened #81 "Update Docs/README"
We've made several changes to our codebase in the last months, but we haven't updated our documentation accordingly.

We should get it back to a state where it correctly represents the way we develop and consume monitoring-satellite/central

[2022-02-01 13:13] mads-hartmann commented on #81
@ArthurSens Thanks! Putting in the Technical Debt epic and most likely scheduling it for next week ☺️

[2022-02-01 13:17] mads-hartmann commented on #31
@ArthurSens Reopening as we still have to update the monitoring satellite installations to configure the new data source right? :)

[2022-02-01 14:30] ArthurSens commented on #31
Yes, that's true. I just closed this one because they are kind of different tasks... I'll modify the ArgoCD apps and close this again though, no problems

[2022-02-04 10:04] ArthurSens commented on #31
All set!

Stackdriver datasource is present for preview envs, staging and production :)

[2022-02-04 10:04] #31 closed

[2022-02-10 11:21] #81 closed

[2022-02-16 13:56] wulfthimm opened #89 "node-exporter does not start on the application clusters"
The `node-exporter` does not start on the application clusters because of a missing permission to use `CAP_SYS_TIME`. This has already been fixed in the `kube-prometheus` repo [[1](https://github.com/prometheus-operator/kube-prometheus/pull/1642)].

[2022-02-17 09:43] ArthurSens commented on #89
fixed by https://github.com/gitpod-io/observability/pull/90

[2022-02-17 09:43] #89 closed

[2022-03-11 07:25] ArthurSens opened #98 "New security constraints coming to Prometheus-Operator"
Prometheus-operator just got a [new release](https://github.com/prometheus-operator/prometheus-operator/releases/tag/v0.55.0) with several new security policies implemented:

- [CHANGE] Enabled read-only root filesystem for containers generated from the Prometheus, Alertmanager and ThanosRuler objects. https://github.com/prometheus-operator/prometheus-operator/pull/4552
- [CHANGE] Disabled privile

[2022-03-11 08:43] mads-hartmann commented on #98
@ArthurSens Added this to the next iteration, but if we're lucky this is no-op for us right?

[2022-03-11 08:44] ArthurSens commented on #98
Hopefully yes 🤞

[2022-03-17 09:18] ArthurSens opened #103 "Consider replace relabeling with `attach_node_metadata`"
This [PR just got merged upstream](https://github.com/prometheus/prometheus/pull/10080), which changes Prometheus Kubernetes Service discovery to optionally include node labels to metrics provided by pods. This option simplifies a lot of [relabeling configuration](https://github.com/gitpod-io/observability/blob/8ba92d90169b72815d433492ddc50c756829b968/addons/metrics-relabeling.libsonnet#L52-L130)

[2022-03-29 14:20] ArthurSens commented on #98
Those changes are live and nothing seems to be broken!

[2022-03-29 14:20] #98 closed

[2022-04-06 12:20] mads-hartmann commented on #103
Moving this to the reducing technical debt epic.

[2022-04-12 06:13] ArthurSens opened #109 "Flaky test: Scraping metrics from Kubescape"
Our e2e tests are flaky when it comes to scraping metrics from kubescape. E.g. https://github.com/gitpod-io/observability/runs/5964858522?check_suite_focus=true

We should understand why that is happening and fix it

[2022-04-28 10:27] meysholdt commented on #109
Happend [here](https://gitpod.slack.com/archives/C032A46PWR0/p1651128838146539?thread_ts=1651115643.753649&cid=C032A46PWR0).

@ArthurSens, can you share your thoughts on this? If there is no easy solution, can we disable the flaky test until we found a solution?

[2022-04-28 10:35] ArthurSens commented on #109
The flaky test is making sure Prometheus is able to scrape metrics from Kubescape. We do that by querying Prometheus for a metric that we know that it comes from Kubescape.

I suspect the flakiness comes from scrape timing. Kubescape is intentionally scraped less often because we don't need to scan our clusters every 15s for vulnerabilities. Maybe we're timing out too early, and Prometheus still h

[2022-05-03 18:31] sagor999 opened #119 "Fix GitpodWsDaemonCrashLooping"
### Bug description

Currently it fires even when daemon crashes once and recovers.

### Steps to reproduce

n\a

### Expected behavior

We should change pagerduty alert to fire only when daemon is crash looping.

### Example repository

_No response_

### Anything else?

_No response_

[2022-06-17 14:29] ArthurSens opened #148 "Enable alerts to go to specific team channels"
Product teams need freedom to send alerts to different slack channels.

Monitoring-satellite should be able to decide which slack channel to send alerts based on a label provided by the alert!

[2022-06-22 19:07] #148 closed

[2022-06-28 17:53] kylos101 opened #160 "[monitoring-satellite] we had to restart prometheus-k8s for gen49 to report normalized load average"
### Bug description

we had to restart prometheus-k8s for gen49 to report normalized load average

### Steps to reproduce

I believe the issue still exists (@aledbf shared it does yesterday), so, when we deploy gen50, we expect to have this problem again.

### Expected behavior

We should not have to restart prometheus-k8s

### Example repository

n/a

### Anything else?

[Internal Slack context](

[2022-07-07 12:18] mads-hartmann commented on #160
@kylos101 Was this needed for Gen51 and Gen52 too? ☺️

[2022-07-08 16:41] kylos101 commented on #160
I thought we added a hack to "prevent this", but I am unable to find it. @aledbf does this ring any bells, or is this a non-issue now? I ask because you built the last few generations of clusters, and am not sure why we didn't have this issue.

[2022-07-15 09:42] mads-hartmann commented on #160
Unassigning myself and moving back to scheduled as I'm heading on vacation. @kylos101 @aledbf would be great to know if this issue still happens though ☺️

[2022-07-19 22:51] kylos101 commented on #160
Hi @mads-hartmann , I think we're okay, and am going to close this, and am guessing an upstream change fixed this.

That or we just got lucky.

We did have to make [this change](https://github.com/gitpod-io/ops/commit/abfca2bf47a906ef8e6ced08c81e0d5cd5f614bf), but I'm not aware of any other bandaids.

cc: @aledbf @sagor999 are we deleting the prometheus pod, or restarting prometheus after a new cl

[2022-07-19 22:51] #160 closed

[2022-07-28 12:29] ArthurSens commented on #109
Looks like #159 didn't solve it 🙁

[2022-08-03 11:54] aledbf opened #186 "Missing clusterrole prometheus-k8s permissions"
### Bug description

Without the next permissions we cannot [node-problem-detector](https://github.com/gitpod-io/ops/blob/main/deploy/workspace/manifests/node-problem-detector.yaml) or [kubelet-stats-exporter](https://github.com/gitpod-io/ops/blob/main/deploy/workspace/manifests/kubelet-stats-exporter.yaml)

[code]

What's the procedure to add this permissions?

### Steps to reproduce

-

### Expe

[2022-08-09 10:29] liam-j-bennett opened #206 "Move Kubestate Metrics to obs installer"

[2022-08-09 16:43] #206 closed

[2022-08-12 07:21] meysholdt opened #231 "[obs-installer] Otel-collector is stuck in crashloopbackoff"
src: https://github.com/gitpod-io/observability/pull/229#issuecomment-1212482652

[2022-08-12 07:23] meysholdt opened #232 "[obs-installer] Prometheus has 0 scrape targets."
src: https://github.com/gitpod-io/observability/pull/229#issuecomment-1212482652

[2022-08-12 09:54] #231 closed

[2022-08-12 13:14] ArthurSens opened #235 "We should not render the configmap `gitpod-app`"
It is a copy paste left over when copying code from gitpod's installer.

We don't need it at all, so we can just delete it. If not we should at least change it's name because of we now have errors in ArgoCD:
![image](https://user-images.githubusercontent.com/24193764/184361307-cc125a1e-235d-47c1-936b-2dbc213c34c9.png)

[2022-08-12 15:45] meysholdt opened #236 "[obs-installer] apply namespace config properly"
## Is your feature request related to a problem? Please describe
About the diff in ArgoCD and why it’s surprisingly large: For node-exporter, I can see that Argo tries to delete and re-create the resource and I assume it’s because the target namespace changes:
Jsonnet: namespace: cluster-monitoring
Go: namespace: monitoring-satellite
Let’s not change the namespace. in the ArgoApp I can see that th

[2022-08-12 23:50] #235 closed

[2022-08-13 01:12] ArthurSens opened #252 "CLI installer: Missing ServiceMonitor for kubernetes components"
Our Jsonnet currently renders manifests necessary to collect metrics from kubernetes components such as API-server and kubelet. Those manifests are missing from our CLI installer

[2022-08-13 01:19] ArthurSens opened #253 "CLI installer: Alertmanager and Prometheus service can't discover any endpoints"
Even after fixing ServiceMonitorSelectors in #251, we're still not scraping metrics from Prometheus nor Alertmanager.

After some debugging I've noticed that the their Service have empty endpoints

[code]

We need to understand why and fix it so Prometheus can scrape metrics from itself and from Alertmanager

[2022-08-13 01:32] ArthurSens opened #254 "CLI installer: Prometheus rules generated by kube-prometheus are missing"
Kube-prometheus comes with a bunch of Prometheus rules that are generated from mixins upstream.

We haven't translated them to go because:
* There is too much to translate. It would take too much time to import it.
* We want to get rid of them completely at some point and instead maintain only the ones we **_really_** need it.

We can't keep going without any Rules though, I see 2 options to go fo

[2022-08-15 15:29] #252 closed

[2022-08-15 21:07] #254 closed

[2022-08-16 08:23] #253 closed

[2022-08-22 21:33] kylos101 commented on #186
:wave: @meysholdt , is this something that y'all can help with this week?

Without having the above permissions, some [dashboards](https://grafana.gitpod.io/d/node-problem-detector/node-problem-detector?orgId=1) are don't work.

We can manually add the cluster role as a workaround, but, it would be ideal for the permissions to be added as part of the `monitoring-satellite` installation.

[2022-08-25 03:13] jenting opened #280 "workspace: us63 does not shown in Workspace Success Rate (By Cluster)"
### Bug description

The workspace success rate (by cluster) does not show us63.

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/49380831/186565885-22238083-476f-49f4-aa2b-73830da7f9e0.png">

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/49380831/186565961-fe8c53be-5dfe-40b5-a742-2dc095363aee.png">

### Steps to reproduce

Check the team

[2022-08-25 09:02] #186 closed

[2022-08-25 12:19] ArthurSens commented on #109
Flaky test solved by removing it 😆

https://github.com/gitpod-io/observability/pull/278

[2022-08-25 12:19] #109 closed

[2022-08-29 15:46] meysholdt commented on #236
fixed by changing the namespace to `monitoring-satellite` in the live systems before rolling out the obs-installer.

[2022-08-29 15:46] #236 closed

[2022-08-31 20:00] ArthurSens commented on #232
Solved some time ago

[2022-08-31 20:00] #232 closed

[2022-08-31 20:04] ArthurSens opened #294 "monitoring-central/jsonnet: Duplicate certificate resources"
We're currently deploying duplicate certificates for Grafana and VictoriaMetrics. This is a problem especially when they are battling for ownership of their secret and one of those certificates is misconfigured.

Since when creating an Ingress we already create a certificate, we should deploy a separate certificate to it.

[2022-08-31 20:05] ArthurSens commented on #294
It is also arguable that we're already migrating monitoring-central to Go as well and we don't need to bother with jsonnet bugs 🤷

[2022-09-05 09:27] meysholdt commented on #294
@ArthurSens Can you check if we ported the bug to Go?
I assume that we did because our strategy was to achieve YAML parity.

[2022-09-05 09:29] meysholdt commented on #294
This came up [here again](https://gitpod.slack.com/archives/C03MWBB5MP1/p1661975959747099?thread_ts=1661970409.958919&cid=C03MWBB5MP1).

[2022-09-08 19:38] ArthurSens opened #308 "Provide ways to include new attributes to span"
For preview environments, for example, we used to add a new attribute `preview.domain` so we can use it to filter traces from different preview environments.

How it was done with jsonnet: https://github.com/gitpod-io/observability/blob/6fb43f53321cf14824043750b9971697456fc718/components/open-telemetry-collector/open-telemetry-collector.libsonnet#L32-L42

Our installer should be able to add attrib

[2022-09-09 18:16] ArthurSens opened #310 "Pyrra's Prometheus links are broken"
Currently, if we click on Pyrra's Prometheus links, we're redirected to the same URL pyrra uses to communicate with prometheus, which is the Kubernetes internal DNS. Such DNS is not accessible from our browser, so the experience is not great.

![image](https://user-images.githubusercontent.com/24193764/189416983-f78aa1c5-1bdc-45ec-8673-fd4d52ec4c63.png)

We can set the [PrometheusExternalURL arg](

[2022-09-14 20:14] #20 closed

[2022-09-22 14:37] #308 closed

[2022-09-22 15:08] ArthurSens opened #327 "Broken release pipeline"
In https://github.com/gitpod-io/observability/pull/319 we tried to create a pipeline responsible for creating new releases everytime the source code of the installer changed.

We just merged https://github.com/gitpod-io/observability/pull/323, so a new release should have been created.

What we observed instead was that the semver of the [new release was not incremented](https://github.com/gitpod-

[2022-09-22 21:24] ArthurSens opened #328 "Reuse imports from same repository"
We're seeing that users using the Importer interface often import multiple paths from the same repository. The way the installer is built today, it will clone the repository for every single import.

We can optimize speed here if we allow setting multiple paths for the same import, that way we can clone a repository only once.

The task here is to change [this field type](https://github.com/gitpod

[2022-09-22 21:26] ArthurSens opened #329 "Run imports in parallel"
[Today we're running all imports sequentially](https://github.com/gitpod-io/observability/blob/024eb1a6e5cd84afcadf88ec27ebc564e66492e2/installer/cmd/render.go#L163-L171), we could use goroutines to speed up the process

[2022-09-22 21:29] ArthurSens commented on #329
This will need some extra attention to the importer pkg.

Today we're using the same path for all imports, we'll have trouble cloning repositories to the same path

https://github.com/gitpod-io/observability/blob/024eb1a6e5cd84afcadf88ec27ebc564e66492e2/installer/pkg/importer/importer.go#L10-L12

https://github.com/gitpod-io/observability/blob/024eb1a6e5cd84afcadf88ec27ebc564e66492e2/installer/pkg

[2022-09-23 04:20] Siddhant-K-code commented on #327
this is the default behavior of `softprops/action-gh-release` see [this comment](https://github.com/softprops/action-gh-release/issues/45#issuecomment-894743076)

[2022-09-23 04:33] Siddhant-K-code commented on #327
`paulhatch/semantic-version` action is creating the minor version also, that's the version it is not getting bumped.

see this [[1]](https://github.com/gitpod-io/observability/actions/runs/3106357974/jobs/5033133550#step:3:15), [[2]](https://github.com/gitpod-io/observability/actions/runs/3103162419/jobs/5026189835#step:3:15)

And, Since we are using the same `version` output in publishing the Git

[2022-09-23 04:45] Siddhant-K-code commented on #327
Final Workflow should look like this:

[code]

if you want, I can create the PR for same^

[2022-09-23 11:28] ArthurSens commented on #327
👋 -- Thanks for taking a look at this :)

Yes, it would be awesome if you could create a PR fixing the pipeline :)

One question, where does this `${increment}` comes from in the comment above?

[2022-09-23 19:22] ArthurSens commented on #103
This change doesn't add value, it has been open for too long with close to 0 discussion since then. I'm closing to remove it from our radar

[2022-09-23 19:22] #103 closed

[2022-09-24 08:47] Siddhant-K-code commented on #327
Sure, I will raise the PR.

It was already there (see [here](https://github.com/gitpod-io/observability/blob/main/.github/workflows/release.yaml#L29)) - It is provided in [official docs](https://github.com/PaulHatch/semantic-version#:~:text=for%20this%20commit-,increment,-is%20an%20additional). I think we can remove that also.

[2022-09-24 09:06] Siddhant-K-code commented on #327
if https://github.com/gitpod-io/observability/pull/332 doesn't work, maybe we need to use different gh-release-action that will not update existing assets.

[2022-09-26 13:57] ArthurSens opened #334 "Create possibility to import manifests locally"
Today, the CLI forces us to declare a gitURL when importing manifests. There are use-cases where the manifests are already present in the filesystem where the CLI is and there's no need to clone a repository.

We should make gitURL optional and try to import manifests from a local path when gitURL is not present

[2022-09-27 12:26] #334 closed

[2022-09-28 06:21] #327 closed

[2022-10-04 15:23] #329 closed

[2022-10-07 11:39] ArthurSens opened #342 "Update prometheus operator to `v0.60.0`"
We're running v0.58.0 and the newest versions have some good improvements :)

In particular I'm looking forward to this change that came up with [v0.60.0](https://github.com/prometheus-operator/prometheus-operator/releases/tag/v0.60.0):
* `[ENHANCEMENT] Added columns showing the Prometheus conditions to the output of kubectl get prometheus. https://github.com/prometheus-operator/prometheus-operato

[2022-10-24 10:17] liam-j-bennett opened #353 "Add service monitors to components in monitoring-satellite"

[2022-10-24 10:22] liam-j-bennett opened #354 "Add service monitors to monitoring central components"

[2022-10-24 10:24] liam-j-bennett opened #355 "Create dashboard for monitoring-satellite components"

[2022-10-24 10:25] liam-j-bennett opened #356 "Create dashboard for monitoring-central components"

[2022-10-26 10:01] liam-j-bennett commented on #353
Done

[2022-10-26 10:01] #353 closed

[2022-10-26 10:02] liam-j-bennett commented on #354
Done via https://github.com/gitpod-io/observability/pull/357

[2022-10-26 10:02] #354 closed

[2022-10-26 10:03] liam-j-bennett commented on #355
Done in https://grafana.gitpod.io/d/1hcljDH4k/observability

[2022-10-26 10:03] #355 closed

[2022-10-26 10:03] liam-j-bennett commented on #356
done in https://grafana.gitpod.io/d/1hcljDH4k/observability and https://grafana.gitpod.io/d/wNf0q_kZk/victoriametrics

[2022-10-26 10:03] #356 closed

[2022-10-26 10:21] liam-j-bennett opened #358 "Alerts for monitoring satellite"
We require some crucial alerts on Prometheus instances within Monitoring-Satellite. This is somewhat difficult, as we rely on the Prometheus instances to forward/push this data into monitoring-central which we can then rely on to alert.

We have a couple of ways to approach this:

1. If the data from a Prometheus instance is not received by VM, alert on that lack of data.
2. Setup a meta-monitorin

[2022-10-26 10:40] liam-j-bennett opened #359 "Alerts for monitoring central"
We require alerts on both VM and AM in monitoring central.

AM requires a deadman snitch that can be implemented in a service like Pagerduty (https://www.pagerduty.com/docs/guides/dead-mans-snitch-integration-guide/).

VM requires similar alerts to the Prometheus instances in the satellite instances and suffers from the same problem. (https://github.com/gitpod-io/observability/issues/358)

We coul

[2022-11-04 12:24] ArthurSens opened #369 "Flaky test"
Looks like we've got a new flaky test :/ https://github.com/gitpod-io/observability/pull/368

The test makes sure that all containers in the Prometheus pods are being scraped successfully, but one of them is instrumented to be queried only once every 5 minutes. 5 minutes is the timeout of the test, so sometimes the test times out before we even try to scrape the container

[2022-11-07 10:37] liam-j-bennett opened #371 "Add OTC to monitoring satellite deployment"
## Summary
In order to simplify configuration and allow upstream changes to be deployed easier. We need to deploy OTC with each monitoring-satellite deployment. This allows us to configure upstream stores and local sampling from a single location, rather than from each service using tracing.

The OTC deployment should point to the upstream monitoring-central OTC and also be configured with authent

[2022-11-07 10:44] liam-j-bennett opened #372 "Deploy OTC into Monitoring-Central"
## Summary
In order to test Tempo and continue using Honeycomb, we need to be able to configure two upstreams, while also controlling the sampling on each of those upstream stores.

By deploying an OTC into monitoring-central, we can configure two upstreams and control the sampling on both. It also gives us a single control point for making sampling decisions and testing tail-based sampling (withi

[2022-11-07 10:51] liam-j-bennett opened #373 "Configure services to use OTC within the satellite deployment"
## Summary

Once both upstream OTCs (satellite and central) are deployed and configured. We need to configure each service that uses tracing to use the local collector, rather than HC directly.

This involves two changes:
- Configure to point to the local OTC
- Remove any local sampling settings (i.e. set sampling to 100%)

## Checklist
- Gather list of all services to change
- Make necessary chan

[2022-11-07 10:52] liam-j-bennett opened #374 "Deploy Tempo into Monitoring-Central"
## Summary
For the PoC and initial stages of use (if PoC is successful), we will self-host Tempo within Monitoring-central with a GCP store backing it. As initially, an OTC instance will front the incoming traces, we do not require external access to the Tempo instance itself.

## Checklist
- Create necessary infrastructure requirements
- Add Tempo charts to monitoring-central
- Deploy charts
- Te

[2022-11-07 12:20] ArthurSens commented on #371
It is deployed already 🤔

[2022-11-07 13:29] liam-j-bennett commented on #371
Does it have the necessary configuration options?

[2022-11-07 14:53] ArthurSens commented on #371
That's what I meant, we need to extend the go code to allow this config 😅

[2022-11-07 17:00] kylos101 opened #376 "Must restart node-exporter pod for a node's metrics to be exported"
### Bug description

Hi there, we're testing gen75 to be deployed tomorrow (Tuesday), and noticed that the normalized load average for workspace Clusters does not work (like on the Gitpod Overview dashboard) until the `node-exporter` pod on a corresponding node is restarted.

This [recording rule](https://github.com/gitpod-io/gitpod/blob/f668ab404fd0da8f465f95353b2376954a17e455/operations/observab

[2022-11-07 18:36] kylos101 commented on #376
Nothing has changed with our versions for `node-exporter`.

[code]

[2022-11-07 19:16] kylos101 commented on #376
Nothing has changed for `prometheus-operator` deployment:

[code]

[2022-11-07 22:04] kylos101 commented on #376
The node is 11m old, and the workspace is running:
[code]

And from my workspace, I am applying stress, using the cores:
[code]

But, Grafana doesn't show the node's normalized load average:
![image](https://user-images.githubusercontent.com/1272076/200425085-3658d2be-8f4b-44c6-999d-f2b25b2f4ba2.png)

[2022-11-07 22:21] kylos101 commented on #376
Removing the ephemeral cluster for now :money_with_wings: .

https://werft.gitpod-io-dev.com/job/ops-workspace-cluster-delete-aledbf-lvm.1

[2022-11-08 15:28] kylos101 commented on #376
@ArthurSens found that Prometheus is unable to scrap metrics (context deadline exceeded).

Upon checking a `node-exporter` pod, I see:
[code]

[2022-11-08 18:51] kylos101 commented on #376
@ArthurSens restarting `node-exporter` is no longer a viable option. :disappointed:

@corneliusludmann could we ask for your help in scheduling this issue? We could use support. Not having node level metrics is risky. :pray:

[2022-11-08 19:19] ArthurSens commented on #376
Logs from kube-rbac-proxy are really spamming TLS handshake errors
![image](https://user-images.githubusercontent.com/24193764/200654513-b247e702-c678-41cb-98c9-24616f7ae5e6.png)

I'm far from an expert in Networking, so pardon if my comments seem 'too obvious', but some research(googling 😛) has shown that TLS handshake errors occur when the client and server are unable to establish a secure conne

[2022-11-09 10:37] liam-j-bennett commented on #376
I can take a look at making the relevant change in Satellite if it fixes the main issue.

It's difficult to tell from the debug logs, but was anything upgraded on the kernel between these gens? Most TLS issues will come from changes within the kernel libraries (mainly security update invalidating old ciphers, for example)

[2022-11-09 16:14] kylos101 commented on #376
@ArthurSens does #377 also solve the issue with normalized load average not showing for `us75`? That was the original reason I created this issue.

[2022-11-09 16:45] kylos101 commented on #376
Here is a picture of the normalized load average, as you can see for gen75, it is missing.

![image](https://user-images.githubusercontent.com/1272076/200889987-30c17625-94b1-455a-b8b0-0a20741b1720.png)

[2022-11-09 17:16] kylos101 commented on #376
Reopening as the original issue (normalized load average is not reported for gen75) still exists

[2022-11-09 19:37] kylos101 commented on #376
We've fixed the `node-exporter` daemonset, to avoid `--tls` ciphers for now (use defaults).

However, what we're seeing, is that Prometheus is timing out when scraping metrics for `node-exporter`. The default is 10s, we're increasing to 15s to see if that helps. As a side effect, we're also increasing the interval in which `prometheus` scrapes from 15s to 30s.

[2022-11-09 19:55] kylos101 commented on #376
We saw a variety of errors in observing Prometheus, where it had trouble connecting to node-exporter on workspace and headless nodes.

Most fall into these two buckets:
1. Context deadline exceeded, this generally happens when we exceed the scrapTimeout, which is now 15s.
2. TLS handshake timeout, this generally happens after about 10.1s

We also saw the following, but, they were less frequent:
1.

[2022-11-09 19:56] kylos101 commented on #376
We were able to quickly telnet from prometheus to node-exporter on port 9100, so it's not like we're unable to make a TCP connection.

However, when using wget, it took a while for Prometheus to return a 401 error when trying to connect to node-exporter. This suggests setting up the TLS connection is expensive. Perhaps more so now than it was before.

[2022-11-09 20:35] kylos101 commented on #376
We plan to build and debug in an ephemeral cluster tomorrow, using the same vintage of assets shipped in gen75.

[2022-11-09 20:37] adrienthebo commented on #376
Capturing potential action items and workarounds:

## Related information

- gen74 is running on bionic; gen75 is running jammy
- OpenSSL had a number of [security issues](https://www.openssl.org/news/secadv/20221101.txt) at the beginning of November.
- The TLS handshake issues make me _extremely_ suspicious of the TLS libraries used on either side of the prometheus connection.
- The Bionic -> Jam

[2022-11-09 21:04] aledbf commented on #376
This is not true

[code]

[code]

@adrienthebo where are you getting the version from?

[2022-11-09 21:29] kylos101 commented on #376
It was me @aledbf , bad memory. I thought we had upgraded from 20 (focal, doh!) to 22 with the latest packer image, but remembered wrong.

[2022-11-09 22:15] adrienthebo commented on #376
On us75 node exporter uses the following images:

- quay.io/prometheus/node-exporter:v1.3.1 (about 1 year old)
- quay.io/brancz/kube-rbac-proxy:v0.13.0 (about 1 month old)

This likely rules out updates for the OpenSSL vulnerability.

[2022-11-09 22:53] adrienthebo commented on #376
The VM image hasn't been [updated in about a month](https://github.com/gitpod-io/ops/commit/cb2fb9e0fd0861159530dc6577e0b066068d91cb) which removes another obvious candidate for configuration changes.

[2022-11-10 16:53] adrienthebo commented on #376
[slack discussion](https://gitpod.slack.com/archives/C01KLC56NP7/p1668084244227429?thread_ts=1668024468.077229&cid=C01KLC56NP7)

@Pothulapati proposed that we disable HTTP/2 (per https://github.com/prometheus/node_exporter/issues/2286); testing this change is relatively cheap so we're trying it now. It's not clear if this will address the root issue as we're seeing problems establishing the TLS co

[2022-11-11 16:25] ArthurSens commented on #376
Just to be sure that TLS was the problem, we removed the sidecar `kube-rbac-proxy` from node-exporter and switched the scheme to HTTP. Prometheus was finally able to scrape node-exporter, so we're sure the problem is this space.

Running on HTTP instead of HTTPS can be a security risk though, so I'm not sure if we want to keep things like that

[2022-11-15 11:45] liam-j-bennett commented on #372
Deployed through https://github.com/gitpod-io/ops/blob/main/deploy/production/monitoring-central/argocd/tempo.yaml

[2022-11-15 11:46] liam-j-bennett commented on #374
Deployed through https://github.com/gitpod-io/ops/blob/main/deploy/production/monitoring-central/argocd/tempo.yaml

[2022-11-15 11:46] #374 closed

[2022-11-16 12:30] #372 closed

[2022-11-17 21:33] kylos101 commented on #376
Metrics appear to work again in `us76`, but, I'm not sure why. We enabled IPv6 in the node image...but am skeptical that was it.

![image](https://user-images.githubusercontent.com/1272076/202564184-dc990254-2894-41a3-bfc4-a85662ab5111.png)

Redeploying `monitoring-satellite` to `us75` to see if it works.

[2022-11-17 22:14] kylos101 opened #384 "PrometheusAlerts are not consistent across recent `workspace-cluster` generations"
### Bug description

Please observe the different rules we have in `workspace-clusters`.

[code]

What rules are we expecting to get deployed to `workspace-clusters`? I suspect some of these differences may have to do with centralized alerting. @ArthurSens can you help me triage?

### Steps to reproduce

n/a

### Expected behavior

_No response_

### Example repository

_No response_

### Anything

[2022-11-17 22:22] kylos101 commented on #376
Yap, works like a champ now in `us76`. Closing for now, will reopen if the issue continues.

@Furisto for awareness, as you're deploying `eu76` tomorrow.

[2022-11-18 13:08] ArthurSens commented on #384
You're correct! Most of the alerts aren't deployed to local clusters anymore, but to our monitoring-central cluster. That's where most of our alerting rules are evaluated and triggered.

You can expect all rules that were added to your [imports](https://github.com/gitpod-io/ops/blob/8f58cfd924d93926e8fb90064bef57394e076c19/deploy/workspace/manifests/monitoring-satellite.yaml#L43)

[2022-11-20 19:40] kylos101 commented on #376
This issue is not present with `us77`, but is with `eu77`. Adding back to the Delivery Team's inbox to request help.

[2022-11-22 15:33] liam-j-bennett commented on #376
I'll take a look at this tomorrow - I'll timebox some investigation and then give an update by EoD

[2022-11-23 11:21] liam-j-bennett commented on #376
So I've done some initial investigation: https://www.notion.so/gitpod/Node-Exporter-metrics-not-being-pulled-58ee9aa326f8447d8a480a7fca7c9543

The export is working now from my investigation. @kylos101 Could you confirm?

[2022-11-23 23:52] kylos101 commented on #376
Hey @liam-j-bennett , could you peek at this comment? https://www.notion.so/Node-Exporter-metrics-not-being-pulled-58ee9aa326f8447d8a480a7fca7c9543?d=baa1a38e41954437bb5d620e24552a56#99a14a6a343240b5a345ab18aa3e1d0c

I see the metrics are working now, but, am unclear why they initially did not work, and what changed to cause them to work again.

[2022-11-24 10:44] #371 closed

[2022-11-29 13:11] ArthurSens commented on #294
We never migrated monitoring-central to go, so the bug was not backported 🙂

The bug is not causing any real issues, besides the creation of a resource that does nothing. Since we're moving away from jsonnet for monitoring-central too so we can just leave this undone 😅

[2022-11-29 13:11] #294 closed

[2022-11-29 13:34] ArthurSens commented on #358
We've created SLOs for Prometheus main features ([service-discovery](https://pyrra.gitpod.io/objectives?expr=%7B__name__=%22prometheus-endpoint-discovery%22,%20namespace=%22monitoring-central%22,%20team=%22delivery-operations-experience%22%7D&grouping=%7B%7D) and [rule-evaluation](https://pyrra.gitpod.io/objectives?expr={__name__=%22prometheus-rule-evaluation%22,%20namespace=%22monitoring-central%